{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>WtfWeb</h1>
            <p>olala c'est embêtant !</p>
        </div>
    </div>
{% endblock %}