{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h2>Dashboard</h2>

    <p>OLALALALA C'EST LE DASHBOARD</p>

    <p><a href="{{ path('page_index') }}" class="btn btn-xs btn-primary">Gérer les pages</a></p>
{% endblock %}