{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle page{% endblock %}

{% block body %}
    <h1>Nouvelle page</h1>

    {% for message in messages %}
        <div class="alert alert-notice alert-danger">
            {{ message.message }}
        </div>
    {% endfor %}

    {{ include('admin/page/_form.html.twig') }}

    <hr>

    <a href="{{ path('page_index') }}">Retourner à la liste des pages</a>
{% endblock %}